.star-icon {
  color: #ffd700;
  cursor: pointer;
}

.strategies-table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e0e0e0;

  &_even {
    border-left: 3px solid #ff3c00;
  }

  &_odd {
    border-left: 3px solid #2b9c08;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.table-first-column {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-second-column {
  font-size: 14px;
}
