<p>Strategies</p>
@if (isFetching()) {
<mat-spinner></mat-spinner>
} @else {
<div class="strategies-table">
  @for (strategy of strategies(); track strategy.id) {
  <div
    class="table-row"
    [class.table-row_even]="strategy.is_favorite"
    [class.table-row_odd]="!strategy.is_favorite"
  >
    <div class="table-first-column">
      @if (strategy.is_favorite) {
      <mat-icon fontIcon="star" class="star-icon"></mat-icon>
      } @else {
      <mat-icon fontIcon="star_border" class="star-icon"></mat-icon>
      }
      <mat-icon
        fontIcon="upload_2"
        class="upload-icon"
        [class.upload-icon_selected]="selectedStrategy?.id === strategy.id"
        (click)="selectStrategy(strategy.id)"
      ></mat-icon>
    </div>
    <div class="table-second-column">
      <h4>{{ strategy.name }}</h4>
      <p>{{ strategy.description }}</p>
    </div>
  </div>
  }
</div>
}
