.projects-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.projects-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card-actions {
  display: flex;
  gap: 10px;
}

.project-card-actions mat-icon {
  cursor: pointer;
}

.upload-icon {
  color: #2b9c08;
  cursor: pointer;
}

.upload-icon_selected {
  color: rgb(220, 219, 219);
  cursor: default;
  pointer-events: none;
}

.delete-icon {
  cursor: pointer;
}
