<nav class="sidebar">
  <ul class="menu-items">
    @if (selectedProject()) {
    <li>
      <a
        [routerLink]="['/project', selectedProject()?.id]"
        routerLinkActive="active"
        class="menu-item"
      >
        <h3>Project: {{ selectedProjectName }}</h3>
      </a>
    </li>
    }
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" class="menu-item">
        <mat-icon fontIcon="home"></mat-icon>
        Dashboard</a
      >
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active" class="menu-item">
        <mat-icon fontIcon="folder"></mat-icon>
        Projects</a
      >
    </li>
    <hr class="menu-divider" />
    @if (selectedProjectId) {
    <li>
      <a
        [routerLink]="['/backtest-sessions', selectedProjectId]"
        routerLinkActive="active"
        class="menu-item"
      >
        <mat-icon fontIcon="manage_history"></mat-icon>
        Backtest Sessions</a
      >
    </li>
    } @else {
    <li>
      <a
        routerLink="/backtest-sessions"
        routerLinkActive="active"
        class="menu-item"
      >
        <mat-icon fontIcon="manage_history"></mat-icon>
        Backtest Sessions</a
      >
    </li>
    } @if (selectedProjectId) {
    <li>
      <a
        [routerLink]="['/optimization-sessions', selectedProjectId]"
        routerLinkActive="active"
        class="menu-item"
      >
        <mat-icon fontIcon="video_settings"></mat-icon>
        Optimization Sessions</a
      >
    </li>
    } @else {
    <li>
      <a
        routerLink="/optimization-sessions"
        routerLinkActive="active"
        class="menu-item"
      >
        <mat-icon fontIcon="video_settings"></mat-icon>
        Optimization Sessions</a
      >
    </li>
    }
    <hr class="menu-divider" />
    <li>
      <a routerLink="/strategies" routerLinkActive="active" class="menu-item">
        <mat-icon fontIcon="query_stats"></mat-icon>
        Strategies</a
      >
    </li>
    <li>
      <a routerLink="/ticker-sets" routerLinkActive="active" class="menu-item">
        <mat-icon fontIcon="category_search"></mat-icon>
        Ticker Sets</a
      >
    </li>
    <li>
      <a
        routerLink="/timeframe-sets"
        routerLinkActive="active"
        class="menu-item"
      >
        <mat-icon fontIcon="view_timeline"></mat-icon>
        Timeframe Sets</a
      >
    </li>
    <hr class="menu-divider" />
    <li>
      <a routerLink="/settings" class="menu-item">
        <mat-icon fontIcon="settings"></mat-icon>
        Settings</a
      >
    </li>
  </ul>
</nav>
