.configuration-item {
  width: fit-content;
}

.configuration-item h4 {
  margin: 0;
  padding: 0;
}

.configuration-item p {
  margin: 0;
  padding: 0;
}

.configuration-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.timeframe-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;

  &_even {
    border-left: 3px solid #ff3c00;
  }

  &_odd {
    border-left: 3px solid #2b9c08;
  }
}

.backtest-set-chip {
  border-radius: 10px;
  background-color: #dad6d6;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}


dialog {
  width: 50%;
  height: 5px;
  border: none;

}
