.conf-card {
  padding: 0;

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4px;
    margin: 0;
    background-color: #9d9fa0;
    border-radius: 10px 10px 0 0;

  }

  &-description {
    font-size: 1rem;
    font-weight: normal;
  }
}

h2 {
  margin: 0;
  padding: 0;
}

.configuration-item {
  // width: 100%;
}


.configuration-item p {
  margin: 0;
  padding: 0;
}

.configuration-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.configuration-content {
  height: 100%;

  &_strategy {
    flex: 2;
  }

  &_backtest {
    flex: 3;
  }

  &_optimization {
    flex: 5;
  }
}

.timeframe-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;

  &_even {
    border-left: 3px solid #ff3c00;
  }

  &_odd {
    border-left: 3px solid #2b9c08;
  }
}

.backtest-set-chip,
.optimization-set-chip {
  border-radius: 10px;
  background-color: #dad6d6;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}


dialog {
  width: 50%;
  height: 5px;
  border: none;

}

.full-view-toggle {
  cursor: pointer;
}
