<div class="as-card">
  <h2>Session Configuration</h2>

  <div class="configuration-container">
    <div class="configuration-content">
      <label for="strategy">Strategy</label>
      <div class="configuration-item as-card as-card_inverse">
        <h4>{{ sessionConfiguration.strategy?.name }}</h4>
        <p>{{ sessionConfiguration.strategy?.description }}</p>
      </div>
    </div>
    <div class="configuration-content">
      <label for="backtest-set">Configurations:</label>
      <div class="configuration-item as-card as-card_inverse">
        @for (backtestSet of sessionConfiguration.strategy?.backtest_sets; track
        $index) {
        <div class="backtest-set-chip" (click)="selectBacktestSet(backtestSet)">
          <b>{{ backtestSet["name"] }}: </b>
          @for (item of Object.entries(backtestSet); track item[0]) { @if
          (item[0] !== "name") {
          <span>{{ item[0] }}: {{ item[1] }}, </span>
          } }
        </div>
        }
        <hr />
        <h4>Selected configuration:</h4>
        <h4>{{ sessionConfiguration.strategyBacktestSet?.['name'] }}</h4>
        @if (sessionConfiguration.strategyBacktestSet) { @for (item of
        Object.entries(sessionConfiguration.strategyBacktestSet); track item[0])
        { @if (item[0] !== "name") {
        <span>{{ item[0] }}: {{ item[1] }}, </span>
        } } }
      </div>
    </div>
    <div class="configuration-content">
      <label for="optimization-set">Optimization Set</label>
      <div class="optimization-set configuration-item as-card as-card_inverse">
        @for (optimizationSet of
        sessionConfiguration.strategy?.optimization_sets; track $index) {
        <div
          class="optimization-set-chip"
          (click)="selectOptimizationSet(optimizationSet)"
        >
          <b>{{ optimizationSet["name"] }}: </b>
          @for (item of Object.entries(optimizationSet["config"]); track
          item[0]) {
          <span>{{ item[0] }}: {{ item[1] }}, </span>
          }<br />
          <b>variables: </b>
          @for (item of Object.entries(optimizationSet["variables"]); track
          item[0]) {
          <span
            >{{ item[0] }}: {{ item[1].from }} - {{ item[1].to }} (step:
            {{ item[1].step }})
          </span>
          }
        </div>
        }
      </div>
    </div>
  </div>

  <div class="configuration-container">
    <div class="configuration-content">
      <label for="ticker-set">Ticker Set</label>
      <div class="ticker-set configuration-item as-card as-card_inverse">
        <h4>{{ sessionConfiguration.tickerSet?.name }}</h4>
        <p>{{ sessionConfiguration.tickerSet?.description }}</p>
        @for (ticker of sessionConfiguration.tickerSet?.tickers; track $index) {
        <mat-chip class="ticker-chip"
          >{{ ticker }}
          <button matChipRemove aria-label="'remove ' + keyword">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        }
      </div>
    </div>

    <div class="configuration-content">
      <label for="timeframe-set">Timeframe Set</label>
      <div class="timeframe-set configuration-item as-card as-card_inverse">
        <h4>{{ sessionConfiguration.timeframeSet?.name }}</h4>
        <p>{{ sessionConfiguration.timeframeSet?.description }}</p>
        @for (timeframe of sessionConfiguration.timeframeSet?.timeframes; track
        $index) {
        <div
          class="timeframe-row"
          [class.timeframe-row_even]="$index % 2 === 0"
          [class.timeframe-row_odd]="$index % 2 === 1"
        >
          {{ timeframe.start }} - {{ timeframe.end }}
        </div>
        }
      </div>
    </div>

    <div class="configuration-content">
      <label for="backtest-session">Backtest Session</label>
      <div class="backtest-session configuration-item as-card as-card_inverse">
        <h4>{{ sessionConfiguration.backtestSession?.name }}</h4>
        <p>{{ sessionConfiguration.backtestSession?.details }}</p>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="runBacktest()"
      [disabled]="isRunningBacktest()"
    >
      Run Backtest
    </button>
    @if (isRunningBacktest()) {
    <dialog open>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </dialog>
    }
  </div>
</div>
