<div class="backdrop" (click)="onCloseModal()">
  <dialog
    open
    (click)="onStopPropagation($event)"
    class="delete-session-dialog"
  >
    <h2>Delete Optimization Session</h2>
    <p>Are you sure you want to delete this optimization session?</p>
    <p>{{ session?.name }}</p>
    <p>{{ session?.details }}</p>
    <form (ngSubmit)="onSubmit()">
      <button type="button" (click)="onCloseModal()">Cancel</button>
      <button type="submit">Delete</button>
    </form>
  </dialog>
</div>
